{% extends "base.html" %}
{% block title %}Upload Students{% endblock %}

{% block content %}
<div class="min-h-screen flex items-center justify-center bg-slate-100 p-8">

    <div class="bg-white p-10 rounded-3xl shadow-lg w-full max-w-xl">

        <h2 class="text-2xl font-bold mb-6 text-slate-800">
            Upload Students Excel
        </h2>

        <form method="POST" enctype="multipart/form-data" class="space-y-6">
            {% csrf_token %}

            <input type="file" name="excel_file" accept=".xlsx"
                   class="w-full p-3 border rounded-xl">

            <button type="submit"
                    class="w-full bg-indigo-600 text-white py-3 rounded-xl font-bold hover:bg-indigo-700">
                Upload File
            </button>
        </form>

        <div class="mt-6 text-sm text-slate-500">
            <p><strong>Excel Format:</strong></p>
            <p>Reg No | Name | Department | Semester</p>
        </div>

    </div>

</div>
{% endblock %}
